@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.664);
  background-color: #3B4B64;
  font-family: 'Roboto', sans-serif;

}
